%p#notice= notice

%h2 Impacts sur les coûts de fonctionnement de l'étude  #{@etude._id} du projet #{@etude.projet.nom}
%header
  -if @modif
    = link_to 'Modif', edit_fonction_path(@etude)
    \|
  = link_to 'Rentabilité', rentabilite_path(@etude)
  \|
  = link_to 'Etude', projet_etude_path(@etude.projet, @etude)

-@etude.etude_rentabilite.fonction.situations.each do |situation|
  %article{:id => [situation.titre]}
    %h3#situation Coûts de fonctionnement dans la situation #{situation.titre}
    %table#cadre_com
      %th#repart
        %article#cadre
        %table#cadre
          %tr
            %th.categorie Catégorie de personnel
            %th.repart Répartition (%)
          -situation.repartitions.each do |repart|
            %tr
              %td.categorie=repart.cadre
              %td.repart=repart.pourcent
      %th#commentaire
        %article#commentaire
          Commentaires :
          =situation.commentaires

    %article#detail
      %table#detail
        %tr
          %th.description Description du coût
          %th.nature_f Nature
          %th.unite Exprimé en
          =render :partial=>"partages/ligne_annees",:object=>situation.calculees[4].montants,:locals=>{:annees=>@etude.liste_annees}

        -situation.details.each do |det|
          %tr
            %td.description= det.description
            %td.nature=det.nature
            %td.unite=det.unite
            =render :partial => "partages/ligne", :object => det, :locals => { :annees => @etude.liste_annees , :signe => '+' }

        -situation.calculees.each do |calc|
          %tr.totaux
            %td.description{:colspan => 2}= calc.description
            %td.unite=calc.unite
            =render :partial=>"partages/ligne",:object=>calc,:locals=>{:annees=>@etude.liste_annees,:signe=>'+'}

        -if situation.titre == 'cible'
          %tr
          %tr
          -@etude.etude_rentabilite.fonction.calculees.each do |calc|
            %tr.totaux
              %td.description{:colspan => 2}= calc.description
              %td.unite=calc.unite
              =render :partial=>"partages/ligne",:object=>calc,:locals=>{:annees=>@etude.liste_annees,:signe=>'+'}

%footer
  -if @modif
    = link_to 'Modif', edit_fonction_path(@etude)
    \|
  = link_to 'Rentabilité', rentabilite_path(@etude)
  \|
  = link_to 'Etude', projet_etude_path(@etude.projet, @etude)
