%h1 Liste des projets de l'Etat

- if not @projets.empty? then

  %table
    %tr
      %th Id
      %th Code
      %th Nom
      %th Ministère
      %th Public
      %th Etat
      %th Date début
      %th Montant
      %th Durée
      %th Delta coût
      %th Delta durée
      %th Quotation
      %th
      %th
      %th

    - @projets.each do |projet|
      %tr
        %td= projet._id
        %td= projet.code
        %td= projet.nom
        %td= projet.ministere
        %td= "#{if projet.public then "Oui" else "Non" end}"
        %td= projet.etat.capitalize
        %td= projet.date_debut
        %td= "#{sprintf('%9.1f',projet.resumes[-1].cout) if projet.resumes[-1]}"
        %td= "#{sprintf('%5.1f',projet.resumes[-1].duree) if projet.resumes[-1]}"
        %td= "#{sprintf('+%3d %',projet.derive_cout) if projet.derive_cout}"
        %td= "#{sprintf('+%3d %',projet.derive_duree) if projet.derive_duree}"
        %td= projet.quotation_disic
        %td= link_to 'Détail', projet
        %td= link_to 'Etudes', projet_etudes_path(projet)
        %td= if Projet._modif.include?(projet.etat) then link_to 'Modif', edit_projet_path(projet) end
        %td= if Projet._supp.include?(projet.etat) then link_to 'Supp', projet, confirm: 'Poursuivre la suppression définitive ?', method: :delete end

%br

= link_to 'Nouveau projet', new_projet_path
