%h2 Liste des projets de l'Etat

- if not @projets.empty? then

  %table#projets
    %tr
      %th Id
      %th Code
      %th Nom
      %th Ministère
      %th Public
      %th Etat
      %th Date début
      %th Montant
      %th Durée
      %th Delta coût
      %th Delta durée
      %th Quotation
      %th.rien
      %th.rien
      %th.rien

    - @projets.each do |projet|
      %tr
        %td.droit= projet._id
        %td= projet.code
        %td= projet.nom
        %td= projet.ministere
        %td.centre= "#{if projet.public then "Oui" else "Non" end}"
        %td= projet.etat.capitalize
        %td.centre= projet.date_debut
        %td.droit= number_with_precision(projet.resumes[-1].cout, options = {delimiter: " ", precision: 0}) if projet.resumes[-1]
        %td.droit= number_with_precision(projet.resumes[-1].duree, options = {precision: 1}) if projet.resumes[-1]
        %td.droit= number_to_percentage(projet.derive_cout, options = {precision: 0}) if projet.resumes[-1]
        %td.droit= number_to_percentage(projet.derive_duree, options = {precision: 0}) if projet.resumes[-1]
        %td.droit= projet.quotation_disic
        %td= link_to 'Détail', projet
        %td= link_to 'Etudes', projet_etudes_path(projet)
        %td= if Projet._modif.include?(projet.etat) then link_to 'Modif', edit_projet_path(projet) end
        %td= if Projet._supp.include?(projet.etat) then link_to 'Supp', projet, confirm: 'Poursuivre la suppression définitive ?', method: :delete end

%br

= link_to 'Nouveau projet', new_projet_path

