%h2 Détail du projet #{@projet.nom}

%p#notice= notice

%p
  %b Id
  = @projet._id
%p
  %b Code:
  = @projet.code
%p
  %b Nom:
  = @projet.nom
%p
  %b Ministère:
  = @projet.ministere
%p
  %b Public:
  = if @projet.public then "Oui" else "Non" end
%p
  %b Description:
  = @projet.description
%p
  %b Entites concernees: 
  = @projet.entites_concernees
%p
  %b Date début:
  = @projet.date_debut
%p
  %b Etat:
  = @projet.etat
%p
  %b Quotation DISIC
  = @projet.quotation_disic

- if not @projet.resumes.empty? then

  %h2 Historique des études Mareva publiées

  %table
    %tr
      %th Id
      %th Date
      %th Stade
      %th Coût
      %th Durée
      %th Note

    - @projet.resumes.each do |resume|
      %tr
        %td= resume.etude_id
        %td= resume.date
        %td= resume.stade
        %td= number_with_precision(resume.cout, options = {delimiter: " ", precision: 0})
        %td= number_with_precision(resume.duree, options = {precision: 1})
        %td= number_with_precision(resume.note, options = {precision: 1})
%br
= link_to 'Toutes les études', projet_etudes_path(@projet)
\|
= link_to 'Modif', edit_projet_path(@projet)
\|
= link_to 'Retour à la liste', projets_path
