%h1 Détail du projet #{@projet.nom}

%p#notice= notice

%p
  %b Id
  = @projet._id
%p
  %b Code:
  = @projet.code
%p
  %b Nom:
  = @projet.nom
%p
  %b Ministère:
  = @projet.ministere
%p
  %b Public:
  = if @projet.public then "Oui" else "Non" end
%p
  %b Description:
  = @projet.description
%p
  %b Entites concernees:
  = @projet.entites_concernees
%p
  %b Date début:
  = @projet.date_debut
%p
  %b Etat:
  = @projet.etat
%p
  %b Quotation DISIC
  = @projet.quotation_disic

= link_to 'Modif', edit_projet_path(@projet)
\|
= link_to 'Retour à la liste', projets_path
