%h2 Détail du projet #{@projet.nom}

%p#notice= notice

%table
  %tr
    %th
    %th
  %tr
    %td.bold Id
    %td= @projet._id
  %tr
    %td.bold Code
    %td= @projet.code
  %tr
    %td.bold Nom
    %td= @projet.nom
  %tr
    %td.bold Ministère
    %td= @projet.ministere
  %tr
    %td.bold Public
    %td= if @projet.public then "Oui" else "Non" end
  %tr
    %td.bold Description
    %td= @projet.description
  %tr
    %td.bold Entités concernées
    %td= @projet.entites_concernees
  %tr
    %td.bold Date début
    %td= @projet.date_debut
  %tr
    %td.bold Etat
    %td= @projet.etat
  %tr
    %td.bold Quotation DISIC
    %td= @projet.quotation_disic
  %tr
    %td.bold Coût en k€
    %td= number_with_precision(@projet.resumes[-1].cout, options = {delimiter: ' ', presicion: 0}) if not @projet.resumes.empty?
  %tr
    %td.bold Dérive coût
    %td= number_to_percentage(@projet.derive_cout,options = {precision: 0}) if @projet.derive_cout
  %tr
    %td.bold Durée en années
    %td= number_with_precision(@projet.resumes[-1].duree, options = {precision: 1}) if not @projet.resumes.empty?
  %tr
    %td.bold Dérive durée
    %td= number_to_percentage(@projet.derive_duree,options = {precision: 0}) if @projet.derive_duree

- if not @projet.resumes.empty? then

  %h2 Historique des études Mareva publiées

  %table
    %tr
      %th Id
      %th Date
      %th Stade
      %th Coût
      %th Durée
      %th Note

    - @projet.resumes.each do |resume|
      %tr
        %td= resume.etude_id
        %td= resume.date
        %td= resume.stade
        %td= number_with_precision(resume.cout, options = {delimiter: " ", precision: 0})
        %td= number_with_precision(resume.duree, options = {precision: 1})
        %td= number_with_precision(resume.note, options = {precision: 1})
%br
= link_to 'Toutes les études', projet_etudes_path(@projet)
\|
= link_to 'Modif', edit_projet_path(@projet)
\|
= link_to 'Retour à la liste', projets_path
