%p#notice= notice

%h2 Gains sur les dépenses métier de l'étude  #{@etude._id} du projet #{@etude.projet.nom}
%header
  -if @modif
    = link_to 'Modif', edit_gain_path(@etude)
    \|
  = link_to 'Rentabilité', rentabilite_path(@etude)
  \|
  = link_to 'Etude', projet_etude_path(@etude.projet, @etude)
%table#cadre_com1
  %th#repart
    %article#cadre
      %table#cadre
        %tr
          %th.modele Modèle de répartition
          -@etude.etude_rentabilite.gain.etp_reparts[0].repartitions.each do |repart|
            %th.categorie=repart.cadre 
        -@etude.etude_rentabilite.gain.etp_reparts.each do |etp|
          %tr
            %td=etp.titre
            -etp.repartitions.each do |repart|
              %td.repart=repart.pourcent
  %th#commentaire1
    %article#commentaire
      Commentaires :
      =@etude.etude_rentabilite.gain.commentaires
%article#detail
  %table#detail
    %tr
      %th.description Description de l'impact
      %th.nature_g Famille d'impact
      %th.unite Exprimé en
      =render :partial=>"partages/ligne_annees",:object=>@etude.etude_rentabilite.gain.calculees[13].montants,:locals=>{:annees=>@etude.liste_annees}

    -@etude.etude_rentabilite.gain.details.each do |det|
      %tr
        %td.description= det.description
        %td.nature=det.nature
        %td.unite=det.unite
        =render :partial => "partages/ligne", :object => det, :locals => { :annees => @etude.liste_annees , :signe => '+' }

    -@etude.etude_rentabilite.gain.calculees.each do |calc|
      %tr.totaux
        %td.description{:colspan => 2}= calc.description
        %td.unite=calc.unite
        =render :partial=>"partages/ligne",:object=>calc,:locals=>{:annees=>@etude.liste_annees,:signe=>'+'}

%footer
  -if @modif
    = link_to 'Modif', edit_gain_path(@etude)
    \|
  = link_to 'Rentabilité', rentabilite_path(@etude)
  \|
  = link_to 'Etude', projet_etude_path(@etude.projet, @etude)
