%p#notice= notice

%h2 Saisie/modification des coûts directs d'investissement de l'étude  #{@etude._id} du projet #{@etude.projet.nom}
= form_for @direct, :url => direct_path(@etude) do |dir_form|
  %header
    = dir_form.submit 'Actualiser', :autofocus => @auto == 'Actualiser'
    \
    = dir_form.submit 'Enregistrer'
  %article#detail
    %table#detail
      %tr
        %th.touche{:colspan => 3} Actions
        %th.description Description du coût
        %th.nature Nature
        %th.totaux --Totaux--
        - @etude.liste_annees.each do |annee|
          %th.annee=annee
      -i=1
      -@direct.details.each do |detail|
        = dir_form.fields_for :details,detail do |detail_form|
          %tr{:id => [i]}
            %td= dir_form.submit 'Sup', :class => 'action', :name => "s#{i}"
            %td= dir_form.submit 'Ins^', :class => 'action', :name => "h#{i}"
            %td= dir_form.submit 'Insv', :class => 'action', :name => "b#{i}"
            %td.description= detail_form.text_area :description,:autofocus => @auto == i.to_s,:cols => 54,:rows => 1
            %td.nature= detail_form.select :nature,Etude.liste_natures[Direct].keys,include_blank: true,:size => 4
            %td.totaux.montant= number_with_precision(detail.total, options =  {delimiter: " ", precision: 1}) unless detail.total == 0
            -detail.montants.each do |montant|
              = detail_form.fields_for :montants,montant do |montant_form|
                %td.montant= montant_form.number_field :montant,:value => number_with_precision(montant.montant,options={precision: 1}), :size => 1
          -i+=1
      %tr.totaux
        %td.touche
        %td.touche
        %td.touche
        %td.description= @direct.calculees[0].description
        %td
        %td.montant=number_with_precision(@direct.total, options =  {delimiter: " ", precision: 1}) unless @direct.total == nil || @direct.total == 0
        -@direct.calculees[0].montants.each do |montant|
          %td.montant= number_with_precision(montant.montant, options =  {delimiter: " ", precision: 1}) unless montant.montant == 0

  %table#cadre_com_direct
    %td#somme
      %article#somme
        %table#somme
          %tr
            %th.nature Coûts directs pluriannuels 
            %th.montant Totaux (k€)
          - @etude.etude_rentabilite.direct.sommes.each do |somme|
            %tr
              %td.nature= somme.nature
              %td.montant= number_with_precision(somme.valeur, options = {delimiter: " ", precision: 1}) unless somme.valeur == 0
    %th#commentaire_direct
      %article#commentaire
        =dir_form.label :commentaires, :class => "commentaire"
        =dir_form.text_area :commentaires, :cols => 80, :rows => 6
  %footer
    = dir_form.submit 'actualiser', :autofocus => @auto == 'actualiser'
    \
    = dir_form.submit 'enregistrer'

