%p#notice= notice

%h2 Coûts directs d'investissement de l'étude  #{@etude._id} du projet #{@etude.projet.nom}
%header
  -if @modif
    = link_to 'Modif', edit_direct_path(@etude)
    \|
  = link_to 'Rentabilité', rentabilite_path(@etude)
  \|
  = link_to 'Etude', projet_etude_path(@etude.projet, @etude)
%article#detail
  %table#detail
    %th.description Description du coût
    %th.nature Nature
    =render :partial=>"partages/ligne_annees",:object=>@etude.etude_rentabilite.direct.calculees[0].montants,:locals=>{:annees=>@etude.liste_annees}
    -@etude.etude_rentabilite.direct.details.each do |det|
      %tr
        %td.description= det.description
        %td.nature=det.nature
        =render :partial => "partages/ligne", :object => det, :locals => { :annees => @etude.liste_annees , :signe => '+' }

    %tr.totaux
      %td.description= @etude.etude_rentabilite.direct.calculees[0].description
      %td
      =render :partial=>"partages/ligne",:object=>@etude.etude_rentabilite.direct.calculees[0],:locals=>{:annees=>@etude.liste_annees,:signe=>'+'}

%table#cadre_com_direct
  %td#somme
    %article#somme
      %table#somme
        %tr
          %th.nature Coûts directs pluriannuels 
          %th.montant Totaux (k€)
        - @etude.etude_rentabilite.direct.sommes.each do |somme|
          %tr
            %td.nature= somme.nature
            %td.montant= number_with_precision(somme.valeur, options = {delimiter: " ", precision: 0}) unless somme.valeur == 0
  %th#commentaire_direct
    %article#commentaire
      Commentaires :
      =@etude.etude_rentabilite.direct.commentaires
%footer
  -if @modif
    = link_to 'Modif', edit_direct_path(@etude)
    \|
  = link_to 'Rentabilité', rentabilite_path(@etude)
  \|
  = link_to 'Etude', projet_etude_path(@etude.projet, @etude)
