<h2>Vous avez oublié votre mot de passe</h2>

<%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :email, :required => true %>
  </div>

  <div class="actions">
    <%= f.button :submit, "M'envoyer les instructions pour réinitialiser mon mot de passe" %>
  </div>
<% end %>

<%= render "links" %>
