= form_for ([@projet, @etude]) do |f|
  - if @etude.errors.any?
    #error_explanation
      %h2= "#{pluralize(@etude.errors.count, "error")} : cette étude n'a pas pu être enregistrée"
      %ul
        - @etude.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :code
    = f.text_field :code
  .field
    = f.label :stade
    = f.select :stade, @etude.liste_stades
  .field
    = f.label :description
    = f.text_field :description
  .field
    = f.label :date_debut
    = f.date_select :date_debut
  .field
    = f.label :duree_projet
    = f.text_field :duree_projet
  .field
    = f.label :type_produit
    = f.select :type_produit, @etude.liste_types_produit
  .field
    = f.label :duree_vie
    = f.number_field :duree_vie

  .actions
    = f.submit 'Save'
