= form_for ([@projet, @etude]) do |f|
  - if @etude.errors.any?
    #error_explanation
      %h2= "#{pluralize(@etude.errors.count, "error")} : cette étude n'a pas pu être enregistrée"
      %ul
        - @etude.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :code
    = f.text_field :code
  .field
    = f.label :stade
    = f.select :stade, @etude.liste_stades, :disable => @etude.liste_stades[0]==:bilan
  .field
    = f.label :description
    = f.text_field :description
  .field
    = f.label :date_debut, 'Date début'
    = f.date_select :date_debut
  .field
    = f.label :duree_projet, 'Durée du projet'
    = f.text_field :duree_projet
  .field
    = f.label :type_produit
    = f.select :type_produit, @etude.liste_types_produit
  .field
    = f.label :duree_vie, 'Durée de vie'
    = f.number_field :duree_vie
  - if params["action"] != "new" then
    .field
      = f.label :publie, 'Publié'
      = f.check_box :publie
    .field
      = f.label :date_publication, 'Date publication'
      = f.date_select :date_publication
    .field
      = f.label :cout, 'Coût'
      = f.text_field :cout
    .field
      = f.label :delai_retour, 'Délai retour'
      = f.text_field :delai_retour
    .field
      = f.label :note
      = f.text_field :note

  .actions
    = f.submit 'Enregistrer'
