%h2 Liste des études du projet #{@projet.nom}


- if not @etudes.empty? then

  %table#etudes
    %tr
      %th Id
      %th Code
      %th Stade
      %th Publié
      %th Le
      %th Date début
      %th Durée
      %th Coût
      %th Retour
      %th Note
      %th.rien
      %th.rien
      %th.rien

    - @etudes.each do |etude|
      %tr
        %td.droit= etude._id
        %td= etude.code
        %td= etude.stade
        %td.centre= "#{if etude.publie then "Oui" else "Non" end}"
        %td.centre= etude.date_publication
        %td.centre= etude.date_debut
        %td.droit= number_with_precision(etude.duree_projet, options = {precision: 1}) 
        %td.droit= number_with_precision(etude.cout, options = {delimiter: " ", precision: 0}) unless etude.cout == nil
        %td.droit= number_with_precision(etude.delai_retour, options = {precision: 1}) unless etude.delai_retour == nil
        %td.droit= number_with_precision(etude.note, options = {precision: 1}) unless etude.note == nil
        %td.centre= link_to 'Détail', projet_etude_path(@projet, etude) 
        %td.centre= if @modif_supp[etude._id][:modif] then link_to 'Modif', edit_projet_etude_path(@projet, etude) end
        %td.centre= if @modif_supp[etude._id][:supp] then link_to 'Supp', [@projet, etude], confirm: 'Poursuivre la suppression définitive ?', method: :delete end

%br

= link_to 'Nouvelle étude', new_projet_etude_path(@projet)
= link_to 'Liste des projets', projets_path
