%h2 Détail de l'étude #{@etude._id} du projet #{@projet.nom}

%p#notice= notice

%p
  %b Code:
  = @etude.code
%p
  %b Stade:
  = @etude.stade
%p
  %b Description:
  = @etude.description
%p
  %b Date début:
  = @etude.date_debut
%p
  %b Durée projet:
  = number_with_precision(@etude.duree_projet, options = {precision: 1})
%p
  %b Type produit:
  = @etude.type_produit
%p
  %b Durée vie:
  = @etude.duree_vie
%p
  %b Publié:
  = if @etude.publie then "Oui" else "Non" end
%p
  %b Date publication:
  = @etude.date_publication
%p
  %b Coût:
  = number_with_precision(@etude.cout, options = {delimiter: " ", precision: 0}) unless @etude.cout == nil
%p
  %b Délai retour:
  = number_with_precision(@etude.delai_retour, options = {precision: 1}) unless @etude.delai_retour == nil
%p
  %b Note:
  = number_with_precision(@etude.note, options = {precision: 1}) unless @etude.note == nil

= if @modif_supp[@etude._id][:modif] then link_to 'Modif', edit_projet_etude_path(@projet, @etude) end
\|
= link_to 'Liste des études', projet_etudes_path(@projet)
