%h2 Détail de l'étude #{@etude._id} du projet #{@projet.nom}

%p#notice= notice

%table
  %tr
    %td.bold Code
    %td= @etude.code
  %tr
    %td.bold Stade
    %td= @etude.stade
  %tr
    %td.bold Description
    %td= @etude.description
  %tr
    %td.bold Date début
    %td= @etude.date_debut
  %tr
    %td.bold Durée projet
    %td= number_with_precision(@etude.duree_projet, options = {precision: 1})
  %tr
    %td.bold Type de produit
    %td= @etude.type_produit
  %tr
    %td.bold Durée de vie
    %td= @etude.duree_vie
  %tr
    %td.bold Taux d'actualisation
    %td= number_to_percentage(@etude.taux_actu,:precision => 1) 
  %tr
    %td.bold Publié
    %td= if @etude.publie then "Oui" else "Non" end
  %tr
    %td.bold Date de publication
    %td= @etude.date_publication
  %tr
    %td.bold Coût en k€
    %td= number_with_precision(@etude.cout, options = {delimiter: " ", precision: 0}) unless @etude.cout == nil
  %tr
    %td.bold Délai de retour
    %td= number_with_precision(@etude.delai_retour, options = {precision: 1}) unless @etude.delai_retour == nil
  %tr
    %td.bold Note
    %td= number_with_precision(@etude.note, options = {precision: 1}) unless @etude.note == nil

= if @modif_supp[@etude._id][:modif] then link_to 'Modif', edit_projet_etude_path(@projet, @etude) end
\|
= link_to 'Liste des études', projet_etudes_path(@projet)
\|
= link_to 'Stratégie', strategy_path(@etude)
\|
= link_to 'Rentabilité', rentabilite_path(@etude)
