-case niveau
  -when 1
    %table.groupe1
      %td.titre= groupe.nom
      %td.note= "#{groupe.note}/20"  
      %td= groupe.appreciation
  -when 2
    %table.groupe2
      %td.titre= groupe.nom
      %td.note= "#{groupe.note}/20"  
      %td= groupe.appreciation
  -when 3
    %table.groupe3
      %td.titre= groupe.nom
      %td.note= "#{groupe.note}/20"  
      %td= groupe.appreciation
  -when 4
    %table.groupe4
      %td.titre= groupe.nom
      %td.note= "#{groupe.note}/20"  
      %td= groupe.appreciation
  -else
    %table.groupe5
      %td.titre= groupe.nom
      %td.note= "#{groupe.note}/20"  
      %td= groupe.appreciation
