%table.reponse
  %tr
    %td.titre= simple_format(reponse.texte)
    %td.note= "#{reponse.note} point#{if reponse.note && reponse.note>1 then 's'end}"
    %td= "#{reponse.choix}"
    - if reponse.justification
      %tr
        %td.justification= simple_format(reponse.justification)
