%p#notice= notice

%h2 Modification du volet Stratégie de l'étude #{@strategy.etude._id} du projet #{@strategy.etude.projet.nom}

= form_tag strategy_path(@etude), :method => :put do
  - i = 0
  - @strategy.groupes.each do |groupe1|
    =render(partial: "groupe", object: groupe1, locals: {niveau: 1})
    - groupe1.groupes.each do |groupe2|
      =render(partial: "groupe", object: groupe2, locals: {niveau: 2})
      - if groupe2.groupes && groupe2.groupes != []
        - groupe2.groupes.each do |groupe3|
          =render(partial: "groupe", object: groupe3, locals: {niveau: 3})
          - if groupe3.groupes && groupe3.groupes != []
            - groupe3.groupes.each do |groupe4|
              =render(partial: "groupe", object: groupe4, locals: {niveau: 4})
              - if groupe4.reponses && groupe4.reponses != []
                - groupe4.reponses.each do |reponse|
                  - i += 1
                  =render(partial: "modif_reponse", object: reponse, locals: {index: i})
          - elsif groupe3.reponses && groupe3.reponses != []
            - groupe3.reponses.each do |reponse|
              - i += 1
              =render(partial: "modif_reponse", object: reponse, locals: {index: i})

  = submit_tag 'Enregistrer'
  \|
  = link_to "Retour à l'étude", strategy_path(@etude)
