%p#notice= notice

%h2 Détail du volet Stratégie de l'étude #{@strategy.etude._id} du projet #{@strategy.etude.projet.nom}

- @strategy.groupes.each do |groupe1|
  =render(partial: "groupe", object: groupe1, locals: {niveau: 1})
  - groupe1.groupes.each do |groupe2|
    =render(partial: "groupe", object: groupe2, locals: {niveau: 2})
    - if groupe2.groupes && groupe2.groupes != []
      - groupe2.groupes.each do |groupe3|
        =render(partial: "groupe", object: groupe3, locals: {niveau: 3})
        - if groupe3.groupes && groupe3.groupes != []
          - groupe3.groupes.each do |groupe4|
            =render(partial: "groupe", object: groupe4, locals: {niveau: 4})
            - if groupe4.reponses && groupe4.reponses != []
              - groupe4.reponses.each do |reponse|
                =render(partial: "reponse", object: reponse)
        - elsif groupe3.reponses && groupe3.reponses != []
          - groupe3.reponses.each do |reponse|
            =render(partial: "reponse", object: reponse)

= link_to 'Modif', edit_strategy_path(@strategy.etude)
\|
= link_to 'Etude', projet_etude_path(@strategy.etude.projet, @strategy.etude)
