%p#notice= notice

%h2 Coûts indirects d'investissement de l'étude  #{@etude._id} du projet #{@etude.projet.nom}
%header
  -if @modif
    = link_to 'Modif', edit_indirect_path(@etude)
    \|
  = link_to 'Rentabilité', rentabilite_path(@etude)
  \|
  = link_to 'Etude', projet_etude_path(@etude.projet, @etude)

%table#cadre_com2
  %th#repart
    %table#cadre
      %tr
        %th.categorie Catégorie de personnel
        %th.repart Répartition (%)
      -@etude.etude_rentabilite.indirect.repartitions.each do |repart|
        %tr
          %td.categorie=repart.cadre
          %td.repart=repart.pourcent
  %th#commentaire1
    %article#commentaire
      Commentaires :
      =@etude.etude_rentabilite.indirect.commentaires

%article#detail
  %table#detail
    %th.description Description du coût
    %th.nature_ind Nature
    %th.unite Exprimé en
    =render :partial=>"partages/ligne_annees",:object=>@etude.etude_rentabilite.indirect.calculees[4].montants,:locals=>{:annees=>@etude.liste_annees}

    -@etude.etude_rentabilite.indirect.details.each do |det|
      %tr
        %td.description= det.description
        %td.nature=det.nature
        %td.unite=det.unite
        =render :partial => "partages/ligne", :object => det, :locals => { :annees => @etude.liste_annees , :signe => '+' }

    -@etude.etude_rentabilite.indirect.calculees.each do |calc|
      %tr.totaux
        %td.description{:colspan => 2}= calc.description
        %td.unite=calc.unite
        =render :partial=>"partages/ligne",:object=>calc,:locals=>{:annees=>@etude.liste_annees,:signe=>'+'}

%article#somme
  %table#somme_ind
    %tr
      %th.nature Coûts directs pluriannuels 
      %th.unite  Exprimé en
      %th.montant Totaux
    - @etude.etude_rentabilite.indirect.sommes.each do |somme|
      %tr
        %td.nature= somme.nature
        %td.unite= somme.unite
        %td.montant= number_with_precision(somme.montant, options = {delimiter: " ", precision: 0}) unless somme.montant == 0

%footer
  -if @modif
    = link_to 'Modif', edit_indirect_path(@etude)
    \|
  = link_to 'Rentabilité', rentabilite_path(@etude)
  \|
  = link_to 'Etude', projet_etude_path(@etude.projet, @etude)
