%p#notice= notice

%h2 Détail du volet rentabilité de l'étude  #{@etude._id} du projet #{@etude.projet.nom}

%table.rentabilite
  %tr
    %th.titre{:colspan => 2} Dépenses d'investissements
    %th.titre{:rowspan => 2} Impacts sur le SI
    %th.titre{:rowspan => 2} Impact métier
  %tr
    %th.titre Coûts directs
    %th.titre Coûts indirects
  %tr
    %td#direct= link_to number_with_precision(@etude.etude_rentabilite.direct.total, options = {delimiter: " ", precision: 0}), direct_path(@etude)
    %td#indirect= link_to number_with_precision(@etude.etude_rentabilite.indirect.total, options = {delimiter: " ",precision: 0}), indirect_path(@etude)
    %td#fonction= link_to number_with_precision(@etude.etude_rentabilite.fonction.total, options = {delimiter: " ",precision: 0}), fonction_path(@etude)
    %td#gain= link_to number_with_precision(@etude.etude_rentabilite.gain.total, option = {delimiter: " ",precision: 0}), gain_path(@etude)
%br
%br
= link_to 'Retour étude', projet_etude_path(@etude.projet, @etude)
