!!! 5
%html
  %head
    %title Tableau de bord TIC !
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body
    %h1.title Tableau de bord TIC !
    = button_to('Aide', '/aide_projets', :method => :get)
    #main
      = yield

