!!! 5
%html
  %head
    %title Tableau de bord TIC !
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body
    %table#bandeau
      %td.title Tableau de bord TIC !
      %td.bouton= button_to('Aide', '/aide_projets', :method => :get)
    #main
      = yield

